body {
    margin: 0;
    padding: 0;
}

.App {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.active {
    position: fixed;
    margin: auto;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;


}
.hidden{
    display: none;
}
.spinner{
    width: 100%;
}
